data/raw/bencomo.wav
data/raw/bencomon.wav
data/raw/erick_1.wav
data/raw/erick_2.wav
data/raw/erick_3.wav
data/raw/erick_4.wav
data/raw/erick_5.wav
data/raw/gerardo.wav
data/raw/pruebota.wav
data/raw/chunked/bencomo_0.wav
data/raw/chunked/bencomo_1.wav
data/raw/chunked/bencomo_2.wav
data/raw/chunked/bencomo_3.wav
data/raw/chunked/bencomo_4.wav
data/raw/chunked/bencomo_5.wav
data/raw/chunked/bencomo_6.wav
data/raw/chunked/bencomo_7.wav
data/raw/chunked/bencomo_8.wav
data/raw/chunked/bencomo_9.wav
data/raw/chunked/bencomo_10.wav
data/raw/chunked/bencomo_11.wav
data/raw/chunked/bencomo_12.wav
data/raw/chunked/bencomo_13.wav
data/raw/chunked/bencomo_14.wav
data/raw/chunked/bencomo_15.wav
data/raw/chunked/bencomo_16.wav
data/raw/chunked/bencomo_17.wav
data/raw/chunked/bencomo_18.wav
data/raw/chunked/bencomo_19.wav
data/raw/chunked/bencomo_20.wav
data/raw/chunked/bencomo_21.wav
data/raw/chunked/bencomo_22.wav
data/raw/chunked/bencomo_23.wav
data/raw/chunked/bencomo_24.wav
data/raw/chunked/bencomo_25.wav
data/raw/chunked/bencomo_26.wav
data/raw/chunked/bencomo_27.wav
data/raw/chunked/bencomo_28.wav
data/raw/chunked/bencomo_29.wav
data/raw/chunked/bencomo_30.wav
data/raw/chunked/bencomo_31.wav
data/raw/chunked/bencomo_32.wav
data/raw/chunked/bencomo_33.wav
data/raw/chunked/bencomo_34.wav
data/raw/chunked/bencomo_35.wav
data/raw/chunked/bencomo_36.wav
data/raw/chunked/bencomo_37.wav
data/raw/chunked/bencomo_38.wav
data/raw/chunked/bencomo_39.wav
data/raw/chunked/bencomo_40.wav
data/raw/chunked/bencomo_41.wav
data/raw/chunked/bencomo_42.wav
data/raw/chunked/bencomo_43.wav
data/raw/chunked/bencomo_44.wav
data/raw/chunked/bencomo_45.wav
data/raw/chunked/bencomo_46.wav
data/raw/chunked/bencomo_47.wav
data/raw/chunked/bencomo_48.wav
data/raw/chunked/bencomo_49.wav
data/raw/chunked/bencomo_50.wav
data/raw/chunked/bencomo_51.wav
data/raw/chunked/bencomo_52.wav
data/raw/chunked/bencomo_53.wav
data/raw/chunked/bencomo_54.wav
data/raw/chunked/bencomo_55.wav
data/raw/chunked/bencomo_56.wav
data/raw/chunked/bencomo_57.wav
data/raw/chunked/bencomo_58.wav
data/raw/chunked/bencomo_59.wav
data/raw/chunked/bencomo_60.wav
data/raw/chunked/bencomo_61.wav
data/raw/chunked/bencomo_62.wav
data/raw/chunked/bencomo_63.wav
data/raw/chunked/erick_1_0.wav
data/raw/chunked/erick_1_1.wav
data/raw/chunked/erick_1_2.wav
data/raw/chunked/erick_1_3.wav
data/raw/chunked/erick_1_4.wav
data/raw/chunked/erick_1_5.wav
data/raw/chunked/erick_1_6.wav
data/raw/chunked/erick_2_0.wav
data/raw/chunked/erick_2_1.wav
data/raw/chunked/erick_2_2.wav
data/raw/chunked/erick_2_3.wav
data/raw/chunked/erick_2_4.wav
data/raw/chunked/erick_2_5.wav
data/raw/chunked/erick_2_6.wav
data/raw/chunked/erick_2_7.wav
data/raw/chunked/erick_2_8.wav
data/raw/chunked/erick_2_9.wav
data/raw/chunked/erick_3_0.wav
data/raw/chunked/erick_3_1.wav
data/raw/chunked/erick_3_2.wav
data/raw/chunked/erick_3_3.wav
data/raw/chunked/erick_3_4.wav
data/raw/chunked/erick_3_5.wav
data/raw/chunked/erick_3_6.wav
data/raw/chunked/erick_3_7.wav
data/raw/chunked/erick_3_8.wav
data/raw/chunked/erick_3_9.wav
data/raw/chunked/erick_4_0.wav
data/raw/chunked/erick_4_1.wav
data/raw/chunked/erick_4_2.wav
data/raw/chunked/erick_4_3.wav
data/raw/chunked/erick_4_4.wav
data/raw/chunked/erick_4_5.wav
data/raw/chunked/erick_4_6.wav
data/raw/chunked/erick_4_7.wav
data/raw/chunked/erick_4_8.wav
data/raw/chunked/erick_4_9.wav
data/raw/chunked/erick_5_0.wav
data/raw/chunked/erick_5_1.wav
data/raw/chunked/erick_5_2.wav
data/raw/chunked/erick_5_3.wav
data/raw/chunked/erick_5_4.wav
data/raw/chunked/erick_5_5.wav
data/raw/chunked/erick_5_6.wav
data/raw/chunked/erick_5_7.wav
data/raw/chunked/erick_5_8.wav
data/raw/chunked/erick_5_9.wav
data/raw/chunked/gerardo_0.wav
data/raw/chunked/gerardo_1.wav
data/raw/chunked/gerardo_2.wav
data/raw/chunked/gerardo_3.wav
data/raw/chunked/gerardo_4.wav
data/raw/chunked/gerardo_5.wav
data/raw/chunked/gerardo_6.wav
data/raw/chunked/gerardo_7.wav
data/raw/chunked/gerardo_8.wav
data/raw/chunked/gerardo_9.wav
data/raw/chunked/gerardo_10.wav
data/raw/chunked/gerardo_11.wav
data/raw/chunked/gerardo_12.wav
data/raw/chunked/gerardo_13.wav
data/raw/chunked/gerardo_14.wav
data/raw/chunked/gerardo_15.wav
data/raw/chunked/gerardo_16.wav
data/raw/chunked/gerardo_17.wav
data/raw/chunked/gerardo_18.wav
data/raw/chunked/gerardo_19.wav
data/raw/chunked/gerardo_20.wav
data/raw/chunked/gerardo_21.wav
data/raw/chunked/gerardo_22.wav
data/raw/chunked/gerardo_23.wav
data/raw/chunked/gerardo_24.wav
data/raw/chunked/gerardo_25.wav
data/raw/chunked/gerardo_26.wav
data/raw/chunked/gerardo_27.wav
data/raw/chunked/gerardo_28.wav
data/raw/chunked/gerardo_29.wav
data/raw/chunked/gerardo_30.wav
data/raw/chunked/gerardo_31.wav
data/raw/chunked/gerardo_32.wav
data/raw/chunked/gerardo_33.wav
data/raw/chunked/gerardo_34.wav
data/raw/chunked/gerardo_35.wav
data/raw/chunked/gerardo_36.wav
data/raw/chunked/gerardo_37.wav
data/raw/chunked/gerardo_38.wav
data/raw/chunked/gerardo_39.wav
data/raw/chunked/gerardo_40.wav
data/raw/chunked/gerardo_41.wav
data/raw/chunked/gerardo_42.wav
data/raw/chunked/gerardo_43.wav
data/raw/chunked/gerardo_44.wav
data/raw/chunked/gerardo_45.wav
data/raw/chunked/gerardo_46.wav
data/raw/chunked/gerardo_47.wav
data/raw/chunked/gerardo_48.wav
data/raw/chunked/gerardo_49.wav
data/raw/chunked/gerardo_50.wav
data/raw/chunked/gerardo_51.wav
data/raw/chunked/gerardo_52.wav
data/raw/chunked/gerardo_53.wav
data/raw/chunked/gerardo_54.wav
data/raw/chunked/gerardo_55.wav
data/raw/chunked/gerardo_56.wav
data/raw/chunked/gerardo_57.wav
data/raw/chunked/gerardo_58.wav
data/raw/chunked/gerardo_59.wav
data/raw/chunked/gerardo_60.wav
data/raw/chunked/gerardo_61.wav
data/raw/chunked/gerardo_62.wav
data/raw/chunked/gerardo_63.wav
data/raw/chunked/gerardo_64.wav
data/raw/chunked/gerardo_65.wav
data/raw/chunked/gerardo_66.wav
data/raw/chunked/gerardo_67.wav
src/__pycache__/funciones.cpython-310.pyc
data/features/features.npy
