*.wav
src/__pycache__/funciones.cpython-310.pyc
data/features/features.npy
chunked/bencomo_0.wav
chunked/bencomo_1.wav
chunked/bencomo_2.wav
chunked/bencomo_3.wav
chunked/bencomo_4.wav
chunked/bencomo_5.wav
chunked/bencomo_6.wav
chunked/bencomo_7.wav
chunked/bencomo_8.wav
chunked/bencomo_9.wav
chunked/bencomo_10.wav
chunked/bencomo_11.wav
chunked/bencomo_12.wav
chunked/bencomo_13.wav
chunked/bencomo_14.wav
chunked/bencomo_15.wav
chunked/bencomo_16.wav
chunked/bencomo_17.wav
chunked/bencomo_18.wav
chunked/bencomo_19.wav
chunked/bencomo_20.wav
chunked/bencomo_21.wav
chunked/bencomo_22.wav
chunked/bencomo_23.wav
chunked/bencomo_24.wav
chunked/bencomo_25.wav
chunked/bencomo_26.wav
chunked/bencomo_27.wav
chunked/bencomo_28.wav
chunked/bencomo_29.wav
chunked/bencomo_30.wav
chunked/bencomo_31.wav
chunked/bencomo_32.wav
chunked/bencomo_33.wav
chunked/bencomo_34.wav
chunked/bencomo_35.wav
chunked/bencomo_36.wav
chunked/bencomo_37.wav
chunked/bencomo_38.wav
chunked/bencomo_39.wav
chunked/bencomo_40.wav
chunked/bencomo_41.wav
chunked/bencomo_42.wav
chunked/bencomo_43.wav
chunked/bencomo_44.wav
chunked/bencomo_45.wav
chunked/bencomo_46.wav
chunked/bencomo_47.wav
chunked/bencomo_48.wav
chunked/bencomo_49.wav
chunked/bencomo_50.wav
chunked/bencomo_51.wav
chunked/bencomo_52.wav
chunked/bencomo_53.wav
chunked/bencomo_54.wav
chunked/bencomo_55.wav
chunked/bencomo_56.wav
chunked/bencomo_57.wav
chunked/bencomo_58.wav
chunked/bencomo_59.wav
chunked/bencomo_60.wav
chunked/bencomo_61.wav
chunked/bencomo_62.wav
chunked/bencomo_63.wav
chunked/erick_0.wav
chunked/erick_1.wav
chunked/erick_2.wav
chunked/erick_3.wav
chunked/erick_4.wav
chunked/erick_5.wav
chunked/erick_6.wav
chunked/erick_7.wav
chunked/erick_8.wav
chunked/erick_9.wav
chunked/erick_10.wav
chunked/erick_11.wav
chunked/erick_12.wav
chunked/erick_13.wav
chunked/erick_14.wav
chunked/erick_15.wav
chunked/erick_16.wav
chunked/erick_17.wav
chunked/erick_18.wav
chunked/erick_19.wav
chunked/erick_20.wav
chunked/erick_21.wav
chunked/erick_22.wav
chunked/erick_23.wav
chunked/erick_24.wav
chunked/erick_25.wav
chunked/erick_26.wav
chunked/erick_27.wav
chunked/erick_28.wav
chunked/erick_29.wav
chunked/erick_30.wav
chunked/erick_31.wav
chunked/erick_32.wav
chunked/erick_33.wav
chunked/erick_34.wav
chunked/erick_35.wav
chunked/erick_36.wav
chunked/erick_37.wav
chunked/erick_38.wav
chunked/erick_39.wav
chunked/erick_40.wav
chunked/erick_41.wav
chunked/erick_42.wav
chunked/erick_43.wav
chunked/erick_44.wav
chunked/erick_45.wav
chunked/erick_46.wav
chunked/erick_47.wav
chunked/erick_48.wav
chunked/erick_49.wav
chunked/erick_50.wav
chunked/erick_51.wav
chunked/erick_52.wav
chunked/erick_53.wav
chunked/erick_54.wav
chunked/erick_55.wav
chunked/erick_56.wav
chunked/erick_57.wav
chunked/erick_58.wav
chunked/erick_59.wav
chunked/erick_60.wav
chunked/erick_61.wav
chunked/erick_62.wav
chunked/erick_63.wav
chunked/erick_64.wav
chunked/erick_65.wav
chunked/erick_66.wav
chunked/erick_67.wav
chunked/erick_68.wav
chunked/gerardo_0.wav
chunked/gerardo_1.wav
chunked/gerardo_2.wav
chunked/gerardo_3.wav
chunked/gerardo_4.wav
chunked/gerardo_5.wav
chunked/gerardo_6.wav
chunked/gerardo_7.wav
chunked/gerardo_8.wav
chunked/gerardo_9.wav
chunked/gerardo_10.wav
chunked/gerardo_11.wav
chunked/gerardo_12.wav
chunked/gerardo_13.wav
chunked/gerardo_14.wav
chunked/gerardo_15.wav
chunked/gerardo_16.wav
chunked/gerardo_17.wav
chunked/gerardo_18.wav
chunked/gerardo_19.wav
chunked/gerardo_20.wav
chunked/gerardo_21.wav
chunked/gerardo_22.wav
chunked/gerardo_23.wav
chunked/gerardo_24.wav
chunked/gerardo_25.wav
chunked/gerardo_26.wav
chunked/gerardo_27.wav
chunked/gerardo_28.wav
chunked/gerardo_29.wav
chunked/gerardo_30.wav
chunked/gerardo_31.wav
chunked/gerardo_32.wav
chunked/gerardo_33.wav
chunked/gerardo_34.wav
chunked/gerardo_35.wav
chunked/gerardo_36.wav
chunked/gerardo_37.wav
chunked/gerardo_38.wav
chunked/gerardo_39.wav
chunked/gerardo_40.wav
chunked/gerardo_41.wav
chunked/gerardo_42.wav
chunked/gerardo_43.wav
chunked/gerardo_44.wav
chunked/gerardo_45.wav
chunked/gerardo_46.wav
chunked/gerardo_47.wav
chunked/gerardo_48.wav
chunked/gerardo_49.wav
chunked/gerardo_50.wav
chunked/gerardo_51.wav
chunked/gerardo_52.wav
chunked/gerardo_53.wav
chunked/gerardo_54.wav
chunked/gerardo_55.wav
chunked/gerardo_56.wav
chunked/gerardo_57.wav
chunked/gerardo_58.wav
chunked/gerardo_59.wav
chunked/gerardo_60.wav
chunked/gerardo_61.wav
chunked/gerardo_62.wav
chunked/gerardo_63.wav
chunked/gerardo_64.wav
chunked/gerardo_65.wav
chunked/gerardo_66.wav
chunked/gerardo_67.wav
